body {
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.top-five {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 2em;
    text-align: left;
    list-style-type: decimal-leading-zero;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-box {
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background-color: #000000f3; 
    padding: 20px;
    border: 20px solid #570069; 
    box-sizing: border-box;
}

.inner-content {
    width: 100%;
    height: 100%;
    background-color: #9e0aae; 
    padding: 20px;
    box-sizing: border-box;
}

.inner-padding {
    width: 100%;
    height: 100%;
    background-color: #df3db4;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    width: 100%;
    height: 100%;
    background-color: #f289e1; 
    box-sizing: border-box;
}